 /* The sidebar menu */
  @font-face {
    font-family: regular;
    src: url(RobotoCondensed-Regular.ttf);
  }

  @font-face {
    font-family: bold;
    src: url(RobotoCondensed-Bold.ttf);
  }

 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(10, 9, 7, 0.863); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 16px 8px 16px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: bold;
    color: rgb(154, 162, 173);
    display: block;
  }

  #selected{
    background-color: rgba(76, 79, 83, 0.733);
    color: #c5cbd1;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    font-family: regular;
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: inherit;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Welcomep{
    font-family: bold;
    padding: 90px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: rgba(41, 41, 214, 0.911);
  }
  #Logintext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(154, 162, 173);
    font-size: 20px;
  }
  .Login_boxes{
    color: rgb(105, 111, 119);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0px 50px 0px;
  }

  .Login_boxes input{
    background-color: rgb(223, 229, 236);
  }

  .Login_boxes p{
    padding-right: 7px;
  }

  #pwd{
    padding: 0px 7px 0px 40px;
  }

  /* The navigation menu links */
  .main a {
    padding: 8px 10px 8px 14px;
    text-decoration: none;
    background-color:  rgba(219, 219, 219, 0.863);
    font-size: 25px;
    font-family: bold;
    color:rgb(58, 58, 58);
    display: block;
    border-radius: 8px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .main a:hover {
    color: rgb(63, 63, 63);
    background-color: #adadad;
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 